:root{
    --cor-de-fundo:#140332;
    --branco:#ffffff;
    --azul:#2485c2;
    --botao-ativo: #ffffff;
    --botao-inativo:#0c0945;
    --texto-fundo: #ffffff;
    --fonte: 'Embed Code';
}
<style>
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family:(var(--fonte));
    }
    .conteudo-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin:0 auto;
    }
    .titulo-principal{
        text-align: left;
        width: 100%;
        font-size: 32px;  
    }
    .titulo-principal span{
        color: var(--branco);
}
.botao{
    font-family: var(--fonte);
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
.botoes{
    display: block;
}
.botao:first-child{
    border-radius: 40px 0 0 0;
}
.botao:last-child{
    border-radius: 0 40px 0 0;
}
